<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_ERROR_WRONG_KEY</key>
	<string>WRONG KEY</string>
	<key>_ERROR_NO_KEY</key>
	<string>NO KEY</string>
	<key>Our_Company_Name</key>
	<string>insighter</string>
	<key>Onb_Will_Willkommen_Lbl</key>
	<string>Herzlich willkommen bei</string>
	<key>Onb_Will_Wir_Verbessern_Lbl</key>
	<string>Wir helfen Ihren Arbeitsplatz zu verbessern.</string>
	<key>Onb_Will_Anonym_Top_Lbl</key>
	<string>Alle Ihre Antworten sind zu</string>
	<key>Onb_Will_Anonym_Middle_Lbl</key>
	<string>100% anonym</string>
	<key>Onb_Will_Anonym_Bottom_Lbl</key>
	<string> und werden niemals personenbezogen an Ihren Arbeitgeber weitergegeben.</string>
	<key>Onb_Will_Next_Btn</key>
	<string>weiter</string>
	<key>Onb_Login_Anmeldung_Lbl</key>
	<string>Bitte melden Sie sich an.</string>
	<key>Onb_Login_Email_Lbl</key>
	<string>Ihre Firmen E-Mail Adresse</string>
	<key>Onb_Login_Email_TxtField</key>
	<string>Firmen E-Mail</string>
	<key>Onb_Login_PW_Lbl</key>
	<string>Ihr persönliches Passwort</string>
	<key>Onb_Login_PW_TxtField</key>
	<string>••••••</string>
	<key>Onb_Login_Security_TxtField</key>
	<string>Ihre persönliche Antwort</string>
	<key>Onb_Login_Security_SubLbl</key>
	<string>Sie benötigen diese Antwort um Ihr Passwort wiederherzustellen.</string>
	<key>Onb_Login_Anmeldung_Btn</key>
	<string>anmelden</string>
	<key>Onb_Notif_Erklaerung_Lbl</key>
	<string>Bitte erlauben Sie uns Sie daran zu erinnern an Umfragen teilzunehmen.</string>
	<key>Onb_Notif_Bitte_Bestaetigen_Lbl</key>
	<string>Bitte bestätigen Sie die Systemmeldung.</string>
	<key>Onb_Notif_Erlauben_Btn</key>
	<string>erlauben</string>
	<key>Onb_Notif_Ueberspringen_Btn</key>
	<string>nicht erlauben</string>
</dict>
</plist>
