<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_EMPTY_</key>
	<string> </string>
	<key>_ERROR_WRONG_KEY</key>
	<string>WRONG KEY</string>
	<key>_ERROR_NO_KEY</key>
	<string>NO KEY</string>
	<key>ERROR_INVALID_EMAIL</key>
	<string>invalide email</string>
	<key>ERROR_EMAIL_ALREADY_IN_USE</key>
	<string>email in benutzung</string>
	<key>ERROR_WEAK_PASSWORD</key>
	<string>Ihr Passwort muss mindestens 6 Zeichen lang sein.</string>
	<key>ERROR_WRONG_PASSWORD</key>
	<string>passwort falsch</string>
	<key>ERROR_QUESTION_NOT_CHOSEN</key>
	<string>frage nicht gewählt</string>
	<key>ERROR_QUESTION_ANSWER_TOO_SHORT</key>
	<string>frage zu kurz beantwortet</string>
	<key>ERROR_COMPANY_UNKNOWN</key>
	<string>firma unbekannt</string>
	<key>ERROR_UNKNOWN_TITLE</key>
	<string>Fehler!</string>
	<key>ERROR_UNKNOWN_EXPLANATION</key>
	<string>Irgendetwas lief schief.
        Bitte versuchen Sie es erneut!</string>
	<key>Our_Company_Name</key>
	<string>insighter</string>
	<key>Per_Max_Points</key>
	<string>/10</string>
	<key>Max_Points</key>
	<integer>10</integer>
	<key>Notif_Reminder_Title</key>
	<string>Neue Umfrage</string>
	<key>Notif_Reminder_Body</key>
	<string>Es gibt eine neue Umfrage. Bitte öffnen Sie insighter.</string>
	<key>Notif_Reminder_Action</key>
	<string>Öffnen</string>
	<key>Notif_Trigger_Weekday</key>
	<integer>6</integer>
	<key>Notif_Trigger_Hour</key>
	<integer>13</integer>
	<key>Onb_Will_Willkommen_Lbl</key>
	<string>Herzlich willkommen bei</string>
	<key>Onb_Will_Wir_Verbessern_Lbl</key>
	<string>Ab sofort helfen Sie aktiv mit, dass sich Ihr Arbeitgeber weiter verbessern kann.</string>
	<key>Onb_Will_Anonym_Top_Lbl</key>
	<string>Alle Ihre Antworten sind zu</string>
	<key>Onb_Will_Anonym_Middle_Lbl</key>
	<string>100% anonym</string>
	<key>Onb_Will_Anonym_Bottom_Lbl</key>
	<string> und werden niemals personenbezogen an Ihren Arbeitgeber weitergegeben.</string>
	<key>Onb_Will_Next_Btn</key>
	<string>weiter</string>
	<key>Onb_Notif_Erklaerung_Lbl</key>
	<string>Bitte erlauben Sie der App, Sie an neue Kurz-Umfragen zu erinnern.</string>
	<key>Onb_Notif_Systemmeldung_Lbl</key>
	<string>Bestätigen Sie die kommende Systemmeldung, wenn Sie Erinnerungen erhalten wollen.</string>
	<key>Onb_Notif_Btn</key>
	<string>weiter</string>
	<key>Onb_Login_Anmeldung_Lbl</key>
	<string>Bitte registrieren Sie sich.</string>
	<key>Onb_Login_Email_Lbl</key>
	<string>Ihre Firmen E-Mail Adresse</string>
	<key>Onb_Login_Email_TxtField</key>
	<string>Firmen E-Mail</string>
	<key>Onb_Login_PW_Lbl</key>
	<string>Ihr persönliches Passwort</string>
	<key>Onb_Login_PW_TxtField</key>
	<string>••••••</string>
	<key>Onb_Login_DemoCompany_Lbl</key>
	<string>Demo Account benutzen</string>
	<key>Onb_Login_Security_Dropdown</key>
	<string>Bitte eine Sicherheitsfrage wählen</string>
	<key>Onb_Login_Security_SubLbl</key>
	<string>Sie benötigen diese Antwort um Ihr Passwort wiederherzustellen.</string>
	<key>Onb_Login_Anmeldung_Btn</key>
	<string>registrieren</string>
	<key>Que_Number_Of_Number</key>
	<string>Frage [first] von [second]</string>
	<key>Que_Rating_Slider_Left_Lbl</key>
	<string>trifft überhaupt
nicht zu</string>
	<key>Que_Rating_Slider_Right_Lbl</key>
	<string>trifft
voll zu</string>
	<key>Que_Rating_Comment_Btn</key>
	<string>Begründung hinzufügen</string>
	<key>Que_Rating_Save_Btn</key>
	<string>Antwort speichern</string>
	<key>Que_Comment_Save_Btn</key>
	<string>Begründung speichern</string>
	<key>Que_Comment_Discard_Btn</key>
	<string>Begründung verwerfen</string>
	<key>Eva_Date_Lbl</key>
	<string>[first] bis [second] (KW[third])</string>
	<key>Eva_Logout_Btn</key>
	<string>Logout</string>
	<key>Eva_User_Title_Lbl</key>
	<string>Ihre Woche</string>
	<key>Eva_User_Rating_Title_Lbl</key>
	<string>Ihre Abstimmung diese Woche:</string>
	<key>Eva_User_Feedback_Title_Lbl</key>
	<string>Ihre Feedback-Punkte:</string>
	<key>Eva_User_Punkte_Title_Lbl</key>
	<string>Ihre Punkte diese Woche:</string>
	<key>Eva_User_Punkte_Top_Lbl</key>
	<string>Frage beantwortet:</string>
	<key>Eva_User_Punkte_Middle_Lbl</key>
	<string>Kontinuität letzte Woche:</string>
	<key>Eva_User_Punkte_Bottom_Lbl</key>
	<string>Kontinuität vorletzte Woche:</string>
	<key>Eva_User_Punkte_Sum_Lbl</key>
	<string>Summe für diese Woche:</string>
	<key>Eva_Comp_Title_Lbl</key>
	<string>Firmen Ergebnisse</string>
	<key>Eva_Comp_User_Title_Lbl</key>
	<string>Ihr Wert:</string>
	<key>Eva_Comp_Comp_Title_Lbl</key>
	<string>[company] insgesamt:</string>
	<key>Eva_Comp_Diff_Relation_Lbl</key>
	<string>zur Vorwoche</string>
	<key>Eva_Comp_Verlauf_Lbl</key>
	<string>Engagement im Zeitverlauf:</string>
</dict>
</plist>
