<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_EMPTY_</key>
	<string> </string>
	<key>_ERROR_WRONG_KEY</key>
	<string>WRONG KEY</string>
	<key>_ERROR_NO_KEY</key>
	<string>NO KEY</string>
	<key>ERROR_INVALID_EMAIL</key>
	<string>E-Mail Adresse ungültig</string>
	<key>ERROR_EMAIL_ALREADY_IN_USE</key>
	<string>E-Mail schon in Verwendung</string>
	<key>ERROR_WEAK_PASSWORD</key>
	<string>Dein Passwort muss mindestens 6 Zeichen lang sein.</string>
	<key>ERROR_WRONG_PASSWORD</key>
	<string>Passwort falsch</string>
	<key>ERROR_QUESTION_NOT_CHOSEN</key>
	<string>Frage nicht gewählt</string>
	<key>ERROR_QUESTION_ANSWER_TOO_SHORT</key>
	<string>Frage zu kurz beantwortet</string>
	<key>ERROR_COMPANY_UNKNOWN</key>
	<string>Firma noch nicht registriert.</string>
	<key>ERROR_UNKNOWN_TITLE</key>
	<string>Fehler!</string>
	<key>ERROR_UNKNOWN_EXPLANATION</key>
	<string>Irgendetwas lief schief.
        Bitte versuche es noch einmal.</string>
	<key>Our_Company_Name</key>
	<string>insighter</string>
	<key>Per_Max_Points</key>
	<string>/10</string>
	<key>Max_Points</key>
	<integer>10</integer>
	<key>Questions_Per_Week</key>
	<integer>3</integer>
	<key>Notif_Reminder_Title</key>
	<string>Wie war die Arbeitswoche?</string>
	<key>Notif_Reminder_Body</key>
	<string>Teile Deine Stimmung mit Deinem Arbeitgeber und Deinem Team. insighter öffnen.</string>
	<key>Notif_Reminder_Action</key>
	<string>Öffnen</string>
	<key>Notif_Trigger_Weekday</key>
	<integer>6</integer>
	<key>Notif_Trigger_Hour</key>
	<integer>13</integer>
	<key>Int_Cancel_Lbl</key>
	<string>Wenn sie eine gute Internetverbindung haben sollten Sie jetzt abbrechen!</string>
	<key>Int_Cancel_Btn</key>
	<string>Abbrechen</string>
	<key>Onb_Will_Willkommen_Lbl</key>
	<string>Hallo bei</string>
	<key>Onb_Will_Wir_Verbessern_Lbl</key>
	<string>Durch Deine Abstimmungen machst Du ab jetzt Deinen Arbeitsplatz jede Woche ein Stückchen besser.</string>
	<key>Onb_Will_Anonym_Top_Lbl</key>
	<string>Alle Antworten sind zu</string>
	<key>Onb_Will_Anonym_Middle_Lbl</key>
	<string>100% anonym</string>
	<key>Onb_Will_Anonym_Bottom_Lbl</key>
	<string> und werden niemals personenbezogen an Deinen Arbeitgeber weitergegeben.</string>
	<key>Onb_Will_Next_Btn</key>
	<string>Los geht's</string>
	<key>Onb_Notif_Erklaerung_Lbl</key>
	<string>Bitte erlaube uns, Dich an neue Abstimmungen zu erinnern.</string>
	<key>Onb_Notif_Systemmeldung_Lbl</key>
	<string>Bestätige bitte die folgende Systemmeldung.</string>
	<key>Onb_Notif_Btn</key>
	<string>weiter</string>
	<key>Onb_Login_Anmeldung_Lbl</key>
	<string>Anmeldung/Registrierung</string>
	<key>Onb_Login_Email_Lbl</key>
	<string>Deine Firmen E-Mail Adresse</string>
	<key>Onb_Login_Email_TxtField</key>
	<string>Firmen E-Mail</string>
	<key>Onb_Login_PW_Lbl</key>
	<string>Dein persönliches Passwort</string>
	<key>Onb_Login_PW_TxtField</key>
	<string>••••••</string>
	<key>Onb_Login_DemoCompany_Lbl</key>
	<string>Nutze Demo-Account</string>
	<key>Onb_Login_Security_Dropdown</key>
	<string>Bitte Sicherheitsfrage wählen</string>
	<key>Onb_Login_Security_SubLbl</key>
	<string>Zur Passwort-Wiederherstellung.</string>
	<key>Onb_Login_Anmeldung_Btn</key>
	<string>anmelden/registrieren</string>
	<key>Que_Number_Of_Number</key>
	<string>Frage [first] von [second]</string>
	<key>Que_Rating_Slider_Left_Lbl</key>
	<string>trifft überhaupt
nicht zu</string>
	<key>Que_Rating_Slider_Right_Lbl</key>
	<string>trifft
voll zu</string>
	<key>Que_Rating_Comment_Btn</key>
	<string>Was ist der Hauptgrund?</string>
	<key>Que_Rating_Commented_Btn</key>
	<string>Hauptgrund ändern</string>
	<key>Que_Rating_Save_Btn</key>
	<string>Antwort speichern</string>
	<key>Que_Comment_Save_Btn</key>
	<string>Begründung speichern</string>
	<key>Que_Comment_Discard_Btn</key>
	<string>Begründung verwerfen</string>
	<key>Eva_Date_Lbl</key>
	<string>[first] bis [second] (KW[third])</string>
	<key>Eva_Logout_Btn</key>
	<string>Logout</string>
	<key>Eva_User_Title_Lbl</key>
	<string>Deine Woche</string>
	<key>Eva_User_Rating_Title_Lbl</key>
	<string>Deine Abstimmung:</string>
	<key>Eva_User_Feedback_Title_Lbl</key>
	<string>Dein Punktestand:</string>
	<key>Eva_User_Punkte_Title_Lbl</key>
	<string>Neue Punkte diese Woche:</string>
	<key>Eva_User_Punkte_Top_Lbl</key>
	<string>Teilnahme diese Woche</string>
	<key>Eva_User_Punkte_Middle_Lbl</key>
	<string>Bonus Teilnahme 2. Woche</string>
	<key>Eva_User_Punkte_Bottom_Lbl</key>
	<string>Bonus Teilnahme 3. Woche</string>
	<key>Eva_User_Punkte_Sum_Lbl</key>
	<string>Summe</string>
	<key>Eva_Comp_Title_Lbl</key>
	<string>Team Ergebnisse</string>
	<key>Eva_Comp_User_Title_Lbl</key>
	<string>Deine Abstimmung</string>
	<key>Eva_Comp_Comp_Title_Lbl</key>
	<string>[company] Durchschnitt</string>
	<key>Eva_Comp_Diff_Relation_Lbl</key>
	<string>ggü. Vorwoche</string>
	<key>Eva_Comp_Verlauf_Lbl</key>
	<string>Ergebnisse im Zeitverlauf:</string>
	<key>Score_This_Week</key>
	<integer>100</integer>
	<key>Score_Last_Week</key>
	<integer>50</integer>
	<key>Score_Prev_Week</key>
	<integer>25</integer>
</dict>
</plist>
